@use 'sass:color';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #55D6A4,
  $secondary: #1AC8ED,
  $surface: #fff,
  $background: #fff,
  $error: darkred,
  $on-primary: #fff,
  $on-secondary: #fff,
  $on-surface: #777,
  $on-error: #fff,
  // $text-primary-on-background: rgba(0,0,0,0.87),
  // $text-secondary-on-background: rgba(0,0,0,0.54),
  // $text-hint-on-background: rgba(0,0,0,0.38),
  // $text-disabled-on-background: rgba(0,0,0,0.38),
  // $text-icon-on-background: rgba(0,0,0,0.38),
  // $text-primary-on-light: rgba(0,0,0,0.87),
  // $text-secondary-on-light: rgba(0,0,0,0.54),
  // $text-hint-on-light: rgba(0,0,0,0.38),
  // $text-disabled-on-light: rgba(0,0,0,0.38),
  // $text-icon-on-light: rgba(0,0,0,0.38),
  // $text-primary-on-dark: #fff,
  // $text-secondary-on-dark: hsla(0,0%,100%,0.7),
  // $text-hint-on-dark: hsla(0,0%,100%,0.5),
  // $text-disabled-on-dark: hsla(0,0%,100%,0.5),
  // $text-icon-on-dark: hsla(0,0%,100%,0.5),
);
