
:root {
  --primary: #55D6A4;
  --primaryFade: rgb(217, 235, 228);
  --secondary: #1BE7FF;
  --primaryAccent: #1AC8ED;
  --primaryAccentFade: rgb(208, 234, 240);
  --secondaryAccent: #48BEFF;
  --tertiaryAccent: #3DFAFF;
  --invalidRed: #fff2f2;
  --veryLightGray: #f8f8fa;
  --lightGray: #ddd;
  --gray: #bbb;
  --darkGray: #999;
  --veryDarkGray: #777;
  --white: #fff;
}

body {
	margin: 0;
	font-family: B612, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
  font-size: 2.8em;
  text-align: center;
  color: var(--primary);
}

h2 {
  font-size: 2.4em;
  text-align: center;
  color: var(--darkGray);
  margin-top: 1em;
}

a {
	color: var(--primaryAccent);
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.fullWidth {
  width: 100%;
  margin: 10px 0;
}

.halfWidth {
  width: 49%;
  margin: 10px 0;
}

.thirdWidth {
  width: 32%;
  margin: 10px 0;
}

.submitButton {
  min-height: 40px;
  margin-top: 30px;
  width: 80%;
  max-width: 340px;
}

.submitButtonLabel {
  font-size: 1.4em;
}

.tightButton {
  min-height: 40px;
  margin-top: 10px;
  width: 250px;
}

.tightButtonLabel {
  font-size: 1.5em;
}

.homeButton {
  min-height: 40px;
  flex-grow: 12;
}

.radioButton {
  padding: 10px 10px 10px 0;
}
